# Java
target/
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*


# Project Specific
# NOTE: Except the flink-connector-kinesis_2.11-1.8.2, exclude all the other .jar
!flink-connector-kinesis_2.11-1.8.2.jar


# Gradle
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

# IntelliJ
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# OS X
.DS_Store

# vim
*.swp
